{{- $categories := .Site.Taxonomies.categories -}}
{{- if $categories -}}
{{- $limit := default 8 .Site.Params.aside.categories.limit -}}
{{- $expand := default "none" .Site.Params.aside.categories.expand -}}
{{- $isExpand := ne $expand "none" -}}
{{- $expandClass := "" -}}
{{- if and $isExpand (eq $expand true) -}}
  {{- $expandClass = "expand" -}}
{{- end -}}

<div class="card-widget card-categories">
  <div class="item-headline">
    <i class="fas fa-folder-open"></i>
    <span>{{ i18n "categories" | default "分类" }}</span>
    {{- if gt (len $categories) $limit -}}
    <a class="card-more-btn" href="{{ "/categories/" | relLangURL }}" title="{{ i18n "more" | default "更多" }}">
      <i class="fas fa-angle-right"></i>
    </a>
    {{- end -}}
  </div>
  
  <ul class="card-category-list{{ if and $isExpand (gt (len $categories) 0) }} expandBtn{{ end }}" id="aside-cat-list">
    {{- $count := 0 -}}
    {{- range $categories.ByCount -}}
      {{- if lt $count $limit -}}
        {{- $count = add $count 1 -}}
        <li class="card-category-list-item">
          <a class="card-category-list-link" href="{{ .Page.RelPermalink }}">
            <span class="card-category-list-name">{{ .Page.Title }}</span>
            <span class="card-category-list-count">{{ .Count }}</span>
          </a>
        </li>
      {{- end -}}
    {{- end -}}
  </ul>
</div>
{{- end -}}
